*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.cont_encabezado{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.cont_encabezado header{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.cont_encabezado header .logo a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 44px;
    color: #1CB698;
    text-decoration: none;
}

.cont_encabezado header ul{
    display: flex;
    list-style: none;
}

.cont_encabezado header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    font-size: 27px;
}

.cont_encabezado header nav ul li a:hover{
    color: #1CB698;
}

.nav-responsive {
    padding: 5px 10px;
    cursor: pointer;
    border: #1CB698;
    display: none;
    
}

.nav-responsive img {
    width: 70px; 
    height: 70px; 
    border-radius: 5px;
}



.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 500px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    max-height: 90vh;
}

.inicio .contenido-banner .me{
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
    max-height: 50vh;
}


.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inicio .contenido-banner h2{
    font-size: 25px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{

    margin: 40px 5px;
    transition: .3s;
}

.inicio .contenido-banner .redes a img{
    height:50;
    width:50;
    border-radius: 20%;
}


.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;
}

.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 80px 20px;    
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 27px
}

.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}

.sobremi .fil{
    display: flex;
}

.sobremi .fil .col{
    width: 50%;
}

.sobremi .fil .col h3{
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 25px;
}

.sobremi .fil .col ul{
    list-style: none;
}

.sobremi .fil .col ul li{
    margin: 12px 0;
}

.sobremi .fil .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}

.sobremi .fil .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fil .col .contenedor-tecnologias{
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fil .col .contenedor-tecnologias .tecnologias{
    width: 110px;
    height: 110px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fil .col .contenedor-tecnologias .tecnologias:hover{
  background-color: #1CB698;
}

.sobremi .fil .col .contenedor-tecnologias .tecnologias span{
    font-size: 15px;
    margin: 10 1px 15px 0;
}
.sobremi .fil .col .contenedor-tecnologias .normal{
    width: 50px;
    height: 50px;
    border-radius: 30%;
    margin-top: 5px;
}

.sobremi .fil .col .contenedor-tecnologias .html-css-js{
    width: 100px;
    height: 55px;
    margin-top: 5px;
}

.sobremi a{
    text-decoration: none
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay{
    width: 100%;
}

.curriculum{
    background-color: #252A2E;
    color: #fff;
    padding: 80px 20px;
}

.curriculum a{
    color: #1CB698;
}

.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.curriculum .contenido-seccion p{
    font-size: 20px;
    margin-bottom: 20px;
}

.curriculum h2{
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 30px 0;
}

.curriculum .fila{
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col{
    width: 55%;
    padding: 0 20px;
}

.curriculum .fila .col h3{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 25px;
    margin-left: 17px;
}


.curriculum .fila .izquierda{
    border-right: 2px solid #1e2326;
}

.curriculum .fila .derecha{
    border-right: 2px solid #252A2E;
}

.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #1e2326;
    position: relative;
}


.curriculum .fila .item h4{
    font-size: 23px;
    margin-bottom: 10px;
}

.curriculum .fila .item .centro{
    color: #1CB698;
    font-size: 25px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha{
    display: block;
    color:#1CB698;
    margin-bottom: 10px;
}

.curriculum .fila .item .subject{
    font-size: 23px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item p{
    line-height: 26px;
}

.curriculum .fila .izquierda{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}

.curriculum .fila .derecha{
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}

.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #1CB698;
    width: 46px;
    position: absolute;
    top: 50%;
    right: -48px;
    z-index: 5;
}


.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #1CB698;
    width: 46px;
    position: absolute;
    top: 50%;
    left: -48px;
    z-index: 5;
}


.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}

.experiencia{
    background-color: #1e2326;
    color: #fff;
    padding: 80 20px;
}

.experiencia .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.experiencia h2{
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 30px 0;
}

.experiencia .proyecto{
    padding: 50px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;

}

.experiencia .proyecto h3{
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 25px;
}

.experiencia .proyecto .empresa{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}


.experiencia .proyecto .fecha{
    display: block;
    color:#1CB698;
    margin-bottom: 10px;
}

.experiencia a{
    color: #1CB698;
}

.experiencia .proyecto p{
    line-height: 24px;
}

.experiencia .proyecto img{
    width:100%;
    display: block;
    margin-top: 10px;
}

footer{
    background-color: #252A2E;
    color: #fff;
    margin: 0 50px 30px 0;
    text-align: center;
    position: absolute;
    width: 100%;
}

footer .redes{
    margin-bottom: 20px;
}

footer .redes a{
    margin:0 10px 5px 15px;
    transition: .3s;
    line-height: 42px;
}

footer .redes a img{
    height:50;
    width:50;
    border-radius: 20%;
}

footer .redes a:hover{
    background-color: #1CB698;
}

footer p{
    line-height: 24px;
    margin-bottom: 10px;
}

footer .arriba img{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 48.5%;
    transition: translateX(-50%);
    top: -25%;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/*Responsive*/
@media screen and (max-width:980px){
    nav{
        display: none;
    }

    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 200px;
    }
    nav.responsive ul{
        display: block !important;

    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 8px 0;
        margin-left: 5px;
    }
}

@media screen and (max-width:700px){
    .cont_encabezado header .logo a{
        font-size: 20px;
    }
    .inicio .contenido-banner{
        margin-top: 40px;
    }
    .nav-responsive{
        margin-bottom: 0;
    }
    .nav-responsive img {
        width: 20px; 
        height: 20px; 
    }
    .sobremi .fila2{
        display: block;
    }
    .sobremi .fil .col{
        width: fit-content;
    }
    .curriculum .fila{
        display: block;
    }

    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }
}

@media  screen and (max-height:700px) {
    .cont_encabezado header .logo a{
        font-size: 20px;
    }
    .inicio .contenido-banner{
        margin-top: 40px;
    }

    .inicio .contenido-banner h1{
        margin-top: 5px;
    }
    .inicio .contenido-banner h2{
        font-size: 20px;
    }
   
    .nav-responsive img {
        width: 20px; 
        height: 20px; 
    }
}
